@model IEnumerable<Soccer.Web.Models.TeamViewModel>

@{
    ViewBag.Title = "Teams";
}

<h2>Teams</h2>

<p>
    @Html.ActionLink("Add team ", "InsertTeam")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Coach)
        </th>
        <th>
            Actions
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Coach)
            </td>
            <td>
                @Html.ActionLink("Update", "UpdateTeam", new { id = item.Id }) |
                @Html.ActionLink("Delete", "DeleteTeam", new { id = item.Id })
            </td>
        </tr>
    }
</table>

<p>
    @Html.ActionLink("All Players ", "IndexPlayers")
</p>